.FilesTable {
  text-align: center;
  
  margin-left: 40%;
  margin-right: 40%;
  font-size: 16px;
}
.FilesPaginaion {
  margin-left: 38%;
  margin-right: 38%;
  font-size: 15px;
}
.Table {
  margin-top: 50px;
  font-size: 16px;
  
}
.Pagination {
  margin-left: 40%;
  margin-right: 40%;
  font-size: 15px;
}

.ButtonBack {
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.btnSubmit {
  margin-left: 40%;
  margin-right: 40%;
}
