.FilesTable {
  text-align: center;
  margin-top: 50px;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 16px;
}
.FilesPaginaion {
  margin-left: 38%;
  margin-right: 38%;
  font-size: 15px;
}
.Table {
  margin-top: 50px;
  font-size: 16px;
  
}
.Pagination {
  margin-left: 40%;
  margin-right: 40%;
  font-size: 15px;
}

.ButtonBack {
  font-size: 16px;
}
