.TableFile{
  height: 100%;
  width: 100%;
  table-layout: auto;
}
.FilesTable {   
  font-size: 18px;
  text-align: left;
}
.FilesPaginaion {
  margin-left: 30%;
  margin-right: 30%;
  font-size: 15px;
}
.Table {
  margin-top: 50px;
  font-size: 16px;
  
}
.Pagination {
  margin-left: 40%;
  margin-right: 40%;
  font-size: 15px;
}

.ButtonBack {
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-top: 8px;
  border: 1px solid #888;
  width: 80%;
}
.btnSubmit {
  margin-left: 40%;
  margin-right: 40%;
  font-size: 16px;
}

.cell-td {
  width: 100%;
  margin-left: 40%;
  margin-right: 40%;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 60%;
  border-top: 12px solid #3498db;
  border-bottom: 12px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 40%;
  margin-top: 20px;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 15;
  
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.input-font-size {
  font-size: 18px;
  width: 100%; 
}
.reset-btn {
  font-size: 16px;
}

.back-btn {
  font-size: 16px;
}

.find-btn {
  font-size: 16px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin-left: 100%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}