.App {
  text-align: center;
  margin-top: 50px;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 16px;
}
.Table {
  font-size: 16px;
  margin: auto;
}
.Pagination {
  margin-left: 40%;
  margin-right: 40%;
}

.ButtonBack {
  font-size: 16px;
}
